.jumbotron {
  padding-top: 6rem;
  background-color: #272727;
}

#projects {
  background-color: #272727;
}

footer {
  background-color: #272727;
}

section {
  padding-top: 5rem;
}

svg {
  margin-bottom: -2px;
}
